# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Deno
.deno_modules/
.deno_test_cache/

# System files
.DS_Store
Thumbs.db

# Git
*.lock
.idea/
.vscode/

# Coverage
coverage/

# Build
build/
dist/
